<mj-section border-radius="3px 3px 0 0" background-color="#03a9f4">
  <mj-column>
    <mj-text color="#fff" font-size="24px" font-family="Helvetica Neue">{{= it.header }}</mj-text>
  </mj-column>
</mj-section>